MESHSERVER_VERSION=dev
MESHSERVER_MYSQL_DSN=meshserver:meshserver@tcp(127.0.0.1:3306)/meshserver?parseTime=true&multiStatements=true&charset=utf8mb4&collation=utf8mb4_unicode_ci
MESHSERVER_HTTP_LISTEN_ADDR=:8080
MESHSERVER_LIBP2P_LISTEN_ADDRS=/ip4/0.0.0.0/tcp/4001
MESHSERVER_LIBP2P_PROTOCOL_ID=/meshserver/session/1.0.0
MESHSERVER_NODE_KEY_PATH=docker-compose/data/config/node.key
MESHSERVER_BLOB_ROOT=docker-compose/data/blobs
MESHSERVER_LOG_DIR=docker-compose/data/logs
MESHSERVER_MIGRATIONS_DIR=migrations
MESHSERVER_CHALLENGE_TTL=5m
MESHSERVER_HEARTBEAT_INTERVAL=30s
MESHSERVER_MAX_TEXT_LEN=4000
MESHSERVER_MAX_IMAGES_PER_MESSAGE=9
MESHSERVER_MAX_FILES_PER_MESSAGE=5
MESHSERVER_MAX_UPLOAD_BYTES=10485760
MESHSERVER_DHT_DISCOVERY_NAMESPACE=meshserver
MESHSERVER_DHT_BOOTSTRAP_PEERS=
